In [101]:
# data avaiable at https://www.kaggle.com/datasets/quantbruce/real-estate-price-prediction

In [102]:
from matplotlib import pyplot as plt
import pandas as pd

In [103]:
df = pd.read_csv('Real estate.csv')
df.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [104]:
df.isnull().sum().sum()

0

In [105]:
#no NaN value

In [106]:
df.shape

(414, 8)

In [107]:
# going to ignore the lat and log data as well as the first column "No"

df = df.drop(columns=['No', 'X5 latitude', 'X6 longitude'])

In [108]:
df

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,Y house price of unit area
0,2012.917,32.0,84.87882,10,37.9
1,2012.917,19.5,306.59470,9,42.2
2,2013.583,13.3,561.98450,5,47.3
3,2013.500,13.3,561.98450,5,54.8
4,2012.833,5.0,390.56840,5,43.1
...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,15.4
410,2012.667,5.6,90.45606,9,50.0
411,2013.250,18.8,390.96960,7,40.6
412,2013.000,8.1,104.81010,5,52.5
413,2013.500,6.5,90.45606,9,63.9

In [109]:
X = df.iloc[:, 0:4]
Y = df.iloc[:, -1]
print('Xs:')
print(X.head(4))
print('Ys:')
print(Y.head(4))

Xs:
   X1 transaction date  X2 house age  X3 distance to the nearest MRT station  \
0             2012.917          32.0                                84.87882
1             2012.917          19.5                               306.59470
2             2013.583          13.3                               561.98450
3             2013.500          13.3                               561.98450

   X4 number of convenience stores
0                               10
1                                9
2                                5
3                                5
Ys:
0    37.9
1    42.2
2    47.3
3    54.8
Name: Y house price of unit area, dtype: float64

In [110]:
#checking if data types need to be converted
df.dtypes

X1 transaction date                       float64
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores             int64
Y house price of unit area                float64
dtype: object

In [111]:
type(df['X1 transaction date'])

pandas.core.series.Series

In [112]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.5, random_state=16)

In [113]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression()

In [114]:
# model is y = c + m1*x1 + m2*x2 + m3*x3 + m4*x4
m = model.coef_
c = model.intercept_
m

array([ 7.59362584e+00, -2.38457028e-01, -4.67854760e-03,  1.59857655e+00])

In [115]:
c

-15246.247518545511

In [116]:
# predicted values for test values
model.predict(x_test)

array([32.45030098, 14.99988786, 42.65036519, 14.96622174, 16.19648627,
       30.40826295, 48.99374703, 35.82539729, 41.14612279, 25.02061338,
       43.12782514, 47.40764107, 48.46566991, 32.970447  , 29.0676356 ,
       49.82124434, 25.18712872, 37.36663117, 40.09149535, 46.91052913,
       48.15204815, 40.08623279, 54.71167923, 38.03205792, 35.48638249,
       49.98532999, 31.02748213, 11.18668517, 51.2873263 , 35.01737906,
       43.46544757, 43.39367722, 31.74695417, 38.50502032, 47.0490552 ,
       34.54570273, 44.7642398 , 37.49964275, 21.1178041 , 30.38870696,
       51.01024912, 39.35305792, 56.53854858, 40.38074972, 36.28534395,
       53.46625262, 46.09980048, 34.0799958 , 39.50997286, 30.77980657,
       33.41828553, 49.22350348, 33.82820366, 41.00236288, 40.35747576,
       29.86243239, 45.54591907, 32.21154837, 42.09616963, 49.18224297,
       47.55650186, 43.15167084, 46.4393831 , 19.16983872, 13.58208422,
       34.92472712, 41.88623955, 37.01507232, 42.8700428 , 47.3938832 ,
       29.51957985, 41.4343289 , 30.91064876, 33.68434288, 40.66815322,
       44.75888128, 35.19331396, 31.61133709, 48.56822411, 33.77665196,
       35.73582683, 37.28956307, 26.25965151, 43.34083986, 43.16215991,
       46.14770475, 42.12568691, 43.60072947, 42.26361756, 44.54023834,
       31.43991212, 26.34634761, 43.88281435, 27.30890495, 51.64811369,
       40.54282475, 33.72262313, 26.60103947, 32.80239231, 35.73680263,
       28.09813326, 46.67381477, 21.58764029, 49.92418254, 48.77502835,
       44.39596065, 28.47735417, 45.20260532, 29.60086702, 50.06737131,
       34.46080259, 45.71024111, 29.01876395, 25.4639998 , 21.09273441,
       51.03119505, 30.31573437, 41.27006846, 48.60393515, 41.68103802,
       36.17118343, 52.83711847, 49.92983885, 46.29305676, 36.70497714,
       45.73288165,  6.25587273, 31.24792685, 45.00451891, 35.96271127,
       48.66499094, 30.40826295, 46.34051205, 46.4723794 , 49.41289292,
       48.44372141, 40.81949672, 25.64655772, 37.58561842, 31.80599252,
       45.61640476, 48.31620992, 36.55855755, 50.26869356, 35.82018812,
       32.13927387, 30.9121603 , 34.27994412, 35.21376288, 40.26234666,
       45.92738493, 36.81232737, 33.54446071, 33.05280723, 37.94487082,
       45.76238462, 43.37939541, 20.46246347, 37.55965063, 15.34400476,
       48.293676  , 15.56896114, 55.3256981 , 37.52971092, 16.17845382,
       35.91297677, 35.74564856, 38.53184649, 37.58561842, 29.42027337,
       50.26795187, 32.91306156, 34.55917775, 28.13729486, 31.7560279 ,
       48.99374703, 53.87626094, 56.53854858, 30.59451558, 40.88764249,
       22.24657096, 36.07346612, 40.8449101 , 45.65047629, 26.94829008,
       45.57468276, 35.4865374 , 17.3565324 , 43.46544757, 50.95550892,
       40.67068484, 37.31340878, 31.21758809, 50.82038425, 47.90125675,
       49.80031212, 55.6891486 , 38.76974676, 17.3803781 , 27.21073019,
       50.63091016, 33.5593004 , 50.04316387, 43.76568971, 48.37376385,
       29.72982729, 36.89666205])

In [117]:
# R ^ 2
model.score(x_test, y_test)

0.5069330018527919

In [118]:
# R ^ 2 is very low which means our independent variables don't explain much of the variance of the dependent variable